body{
  background-repeat: no-repeat;
  background:radial-gradient(200px top, ellipse, white, #1162ac, black);

  }
h1{
  color: #0e828c;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*tipografía texto*/
  font-size: 60px;
  margin: 10px;
  margin-top: 20px;
  text-align: center;
}
textarea{
  resize: none;
  background:  #8fd0d6;
  border: 2px solid #ffffff; /*anchura, estilo y color borde*/
  color: #000000; /*color texto*/

}
  .forma{
    margin-left: 20px;
    border: 2px solid #0e828c; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #8fd0d6; /*color botón*/
    color:  #0e828c;; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', bold; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }
  h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*tipografía texto*/
    text-align: center;
    font-style: normal;
    font-size: 25px;
  }
  .sub{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*tipografía texto*/
    text-align: center;
    font-size: 15px;
  }

  table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 0.5px;
    margin-block-end: 20px;
}
th{
    margin-block-end: 20px;
    font-size: 14px;
    font-style: normal;
    font: 1em Tahoma;
    border: solid rgb(179, 224, 228);

}

.concepto{
  margin-block-end: 2px;
  border: solid rgb(179, 224, 228);
  background:  #ffffff;
  color: #000000; /*color texto*/
  font-style: bold;
  font-size: 14px;
  font-family: Tahoma;/*tipografía texto*/

}
td {
    display: table-cell;
    vertical-align: inherit;
    width: 10%;
    height: 20px;
    font-style: bold;

}
.informe{
      border: 1px solid rgba(14, 130, 140);
      width: 225px; 
      height: 120px;
      resize: none;
      font-family: Tahoma;
      font-style: bold; 
      font-size: 14px;
    
  }
  
  table.default td {
      padding: 0.2em 0.8em;
      border: solid rgb(209, 224, 233);
      background:  #0e828c;
      color: #ffffff; /*color texto*/

      text-align: center;
      font-size: 15px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*tipografía texto*/
  }        